@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif; 
  --font-oswald: "Oswald", sans-serif; 
  --color-Platinum: #EFF1F3;
  --color-Slate-Grey: #6D8A96;
  --color-Carbon-Black: #1A2022;
}

